[Unit]
Description=D2D Convergence Manager Daemon

[Service]
Type=dbus
BusName=org.tizen.d2dconv
ExecStart=/usr/bin/d2d-conv-managerd
Restart=always
RestartSec=1

[Install]
WantedBy=default.target